.pricing-card {
    display: flex;
    flex-direction: column;
    justify-content: left;
    max-width: 350px;
    min-width: 350px;
    height: fit-content;
    background-color: white;
    border-radius: var(--main-border-radius);
    padding: 20px;
    margin: 14px;
    color: black;
    -webkit-box-shadow: 0px 10px 20px 7px rgba(0,0,0,0.20);
    -moz-box-shadow: 0px 10px 20px 7px rgba(0,0,0,0.20);
    box-shadow: 0px 10px 20px 7px rgba(0,0,0,0.20);
    transition: transform 0.3s ease-in-out;
}

.pricing-card:hover {
    transform: scale(1.04);
    cursor: pointer;
}

.pricing-card-top {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.card-header {
    font-size: 1.4rem;
    font-weight: 600;
}

.pricing-card-middle {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: left;
}

.pricing-card-middle > p {
    font-size: 2.5rem;
    font-weight: 700;
}

.hr-line {
    opacity: 8%;
}

.per-month {
    font-size: 1rem;
}

.button-container {
    display: flex;
    justify-content: center;
    height: 60px;
    margin-top: 20px;
}

.button-container > button {
    align-self: flex-end;
    flex-grow: 1;
}

.brief-description {
    font-size: .95rem;
    font-weight: 400;
    opacity: 55%;
}

.pricing-card-bottom {
    font-size: .95rem;
    font-weight: 400;
    opacity: 55%;
    text-align: left;
}


.brief-description-container {
    text-align: left;
}