@import url('https://fonts.cdnfonts.com/css/switzer');

* {
  --main-border-radius: 15px;
  --main-dark-green-color: #005249;
  margin: 0;
  font-family: 'Switzer', sans-serif;   
}

html {  
  scroll-behavior: smooth;  
  background: rgb(255, 255, 255);
}