.outer-dashboard-container {
    display: flex;
    background-color: var(--primary-color);
    align-items: center;
    flex-direction: column;
    padding: 100px;
    padding-top: 150px;
}

.pricing-view-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.newest-lead-container {
    width: 1110px;
    border-radius: var(--main-border-radius);
    background-color: white;
    margin: 40px;    
    padding: 30px;
    padding-bottom: 10px;
}

.leads-filtering-container {
    width: 1110px;
    height: 80px;
    border-top-left-radius: var(--main-border-radius);
    border-top-right-radius: var(--main-border-radius);
    background-color: white;
    padding: 30px;
}

.table-content-container {
    width: 1110px;
    height: 500px;
    border-bottom-left-radius: var(--main-border-radius);
    border-bottom-right-radius: var(--main-border-radius);
    background-color: white;
    min-height: 400px;
    max-height: 800px;
    padding: 20px;
    margin-bottom: 100px;
}

.table-container {
    height: 90%;
}

.export-csv-container {
    color: rgb(0, 76, 255);
    margin-top: 20px;
    margin-bottom: 20px;
}

.pricing-header {
    font-size: 3rem;
    font-weight: 800;
    color: white;
    margin-bottom: 20px;
}

.pricing-header-sub-header {
    color: var(--quaternary-color);
    margin-bottom: 60px;
}
